/* Header / Main header / Login  */
.label {
    text-transform: initial;
    color: #2B568E;
    position: relative;
    padding: 0 0 0 1.4rem;
    width: 4.6rem;
    font-size: 1rem;
}
.label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(assets/icons/user.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
}
.container :global(.vtex-button) {
    transition: all .5s ease;
    margin: 0 .4rem;
}
.container :global(.vtex-button):active,
.container :global(.vtex-button):focus,
.container :global(.vtex-button):hover {
    transition: all .5s ease;
    background-color: #7DA2D2;
}

.container :global(.vtex-button__label) {
    padding-left: 1.5rem;
    padding-right: 1.2rem;
}