
/* Header / Promo Bar */
.imageElement--header-promoBar {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header / Main Header / Logo */
.logoLink,
.logoContainer,
.logoImage {
  display: block;
}

.logoContainer {
  padding: 0;
  min-width: initial;
  max-width: initial;
  max-height: initial;
}

.logoImage {
  width: 180px;
  max-width: 180px;
  height: 100% ;
  margin-right: 1rem;
}


/* Header / Main Header / Search */
.searchBarContainer {
  max-width: 100% !important;
  box-sizing: border-box;
  padding: 0 2.7rem 0 4rem;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  color: #ccc;
  border-radius: 1px;
  font-family: 'gtamerica-comp-regular';
  padding-left: 2rem;
}
.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 50px;
}


/* Home / Icons */
.infoCardContainer--home-icons {
  flex-direction: column-reverse;
}
.infoCardHeadline--home-icons {
  font-size: 1.2rem;
  color: rgb(43, 86, 142);
  line-height: 1;
  margin: 1.4rem .7rem 0 .7rem;
}
.infoCardImageContainer--home-icons {
  width: 90px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px !important;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 4px 4px 80px rgb(0 0 0 / 10%);
}
.infoCardTextContainer--home-icons {
  width: 100%!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoCardCallActionContainer--home-icons :global(.vtex-button) {
  border: 0;
  background-color: transparent;
  transition: all .5s ease;
  min-height: initial;
  max-height: initial;
  min-width: initial;
  max-width: initial;
}
.infoCardCallActionContainer--home-icons :global(.vtex-button__label) {
  border: 1px solid #2B568E;
  color: #2B568E;
  text-transform: initial;
  transition: all .5s ease;
  line-height: 1;
  display: block;
  border-radius: 50px;
  padding: 0.4rem 1.4rem !important;
}
.infoCardCallActionContainer--home-icons :global(.vtex-button__label):hover {
  border: 1px solid #2B568E;
  background-color: #2B568E;
  color: #fff;
  transition: all .5s ease;
}
.infoCardImage--home-icons {
  display: block;
}


/* Home / CountDown */
.imageElement--home-countDown-countDown {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Ajustes Container Vtex */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 75rem !important;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 90rem !important;
  }
}