@font-face {
  font-family: "gtamerica-comp-regular";
  src: url(assets/fonts/gtamerica-comp-regular.ttf);
}

@font-face {
  font-family: "gtamerica-comp-bold";
  src: url(assets/fonts/gtamerica-comp-bold.ttf);
}

@font-face {
  font-family: "leaguegothic-regular";
  src: url(assets/fonts/leaguegothic-regular.ttf);
}